name: Android Build CI

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Build with Gradle
      run: gradle assembleDebug --stacktrace

    - name: Organize Release
      run: |
        mkdir -p release
        mv build/outputs/apk/debug/*.apk release/CustomTunnel-Build-${{ github.run_number }}.apk

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: CustomTunnel-Release
        path: release/
